#results {
  display:none;
}

h1 {
font-size: 2em;
font-weight: bold;
color: rgb(209, 27, 27);
background-color: rgb(17, 168, 160);
font-style: italic;
font-family: sans-serif;
}

body {
  background-image:url(tips.jpeg);
  background-color: rgba(116, 21, 111, 0.8);
}

